<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>상품목록</title>
	<link rel="stylesheet" href="css/base.css" />
	<link rel="stylesheet" href="css/product.css" />
</head>

<body>
	<th:block th:replace="common/header::headerFragment"></th:block>
		<div id="sub_con">
		<div class="sub_left">
			<p class="sub_left_title">브랜드</p>
			<ul>
					<li class="active">
						<a th:href="'prodcatebranlist?category=' + ${category} + '&brand=Apple'" class="flex">
							<p>Apple</p>
							<span class="material-symbols-outlined arrow_icon"> arrow_forward_ios</span>
						</a>
					</li>
					<li>
						<a th:href="'prodcatebranlist?category=' + ${category} + '&brand=삼성'">
							<p>삼성</p>
							<span class="material-symbols-outlined arrow_icon"> arrow_forward_ios</span>
						</a>
					</li>
					<li>
						<a th:href="'prodcatebranlist?category=' + ${category} + '&brand=LG'">
							<p>LG</p>
							<span class="material-symbols-outlined arrow_icon"> arrow_forward_ios</span>
						</a>
					<li>
						<a th:href="'prodcatebranlist?category=' + ${category} + '&brand=모토로라'">
							<p>MOTOROLA</p>
							<span class="material-symbols-outlined arrow_icon"> arrow_forward_ios</span>
						</a>
					</li>
					<li>
						<a th:href="'prodcatebranlist?category=' + ${category} + '&brand=샤오미'">
							<p>샤오미</p>
							<span class="material-symbols-outlined arrow_icon"> arrow_forward_ios</span>
						</a>
					</li>
					<li>
						<a th:href="'prodcatebranlist?category=' + ${category} + '&brand=레노버'">
							<p>Lenovo</p>
							<span class="material-symbols-outlined arrow_icon"> arrow_forward_ios</span>
						</a>
					</li>
					<li>
						<a th:href="'prodcatebranlist?category=' + ${category} + '&brand=소니'">
							<p>SONY</p>
							<span class="material-symbols-outlined arrow_icon"> arrow_forward_ios</span>
						</a>
					</li>
					<li>
						<a th:href="'prodcatebranlist?category=' + ${category} + '&brand=기타'">
							<p>기타</p>
							<span class="material-symbols-outlined arrow_icon"> arrow_forward_ios</span>
						</a>
					</li>
				</ul>
		</div>
		<div class="sub_right">
			<div class="cprod_list">
				<form th:if="${list.size() > 0}" th:each="data : ${list}" class="list_con"> 
					<div class="prod_img">
						<a th:href="@{/showproduct(productid=${data.productid},page=${page})}">
							<img th:src="@{upload/}+${data.pimage}" /></a>
					</div>
					<p class="brd_name" th:text="${data.brand}" />
					<p class="prd_name" th:text="${data.model}" />
					<p class="price" th:text="${#numbers.formatInteger(data.price, 3, 'COMMA') + '원'}" />

				</form>
			</div>

		<br><br><br>
		<!-- paging -->
		<div class="paging">
			<span th:each="num : ${#numbers.sequence(1, pagesu)}">
				<span th:if="${num == page}">
					<b th:text="${num}">num 표시(현재 페이지는 링크를 걸지 않음)</b>
				</span>
				<span th:if="${num != page}">
					<a th:href="@{productcategorylist(page=${num},category=${list[0].category})}" th:text="${num}">num
						표시</a>
				</span>
			</span>

		</div>
		<br />
		<div class="search">
			<form action="/buyproductsearch" method="get">
				<select name="searchName"><span class="material-symbols-outlined">expand_more</span>
					<option value="brand" selected>브랜드</option>
					<option value="model">모델</option>
				</select>
				<input class="search_text" type="text" name="searchValue">
				<button class="searchicon" type="submit"><span class="material-symbols-outlined">search</span></button>
			</form>
		</div>
	</div>
		</div>
	<th:block th:replace="common/footer::footerFragment"></th:block>
</body>

</html>