@charset "UTF-8";

body {
    margin: 0;
}

.container {
    max-width: 1050px;
    margin: 50px auto;
    background-color: #fff;
    text-align: left;
    min-height: 700px;
}

h1 {
    color: #333;
    font-size: 189%;
    margin: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.title-search-container {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.title {
    display: inline-block;
    margin-right: 10px;
}

.search-form {
    display: flex;
    align-items: center;
}

.title-search-container input {
    border: 1px solid #ccc;
}

.title-search-container input[type="submit"] {
    margin-right: 5px;
    margin-left: 10px;
    cursor: pointer;
}
#sub{
    width: 1050px;
    margin: 50px auto;
}

#sub .line{
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #222;
}
#sub .flex {
	display: flex;
	justify-content: space-between;
}

#sub .sub_left {
	width: 200px;
}

#sub .sub_right {
	width: 800px;
}

#sub .line {
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: 2px solid #222;
}

#sub .li_line {
	border-bottom: 1px solid #222;
	padding-bottom: 20px;
	margin-bottom: 20px;
	align-items: center;
}

#sub .flex3 .material-symbols-outlined{
    font-size: 16px;
    font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 16
}


/* sub_left */
.sub_left .sub_left_title {
	height: 75px;
	padding: 5px 0px 0px 0px;
	font-weight: 500;
	font-size: 28px;
	line-height: 35px;
	color: rgb(51, 51, 51);
	letter-spacing: -1px;
}
.sub_left ul li{
    border-bottom: 1px solid #f2f2f2;
}

.sub_left ul li a {
	cursor: pointer;
	padding: 13px 0px 13px 0px;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	line-height: 19px;
	letter-spacing: -0.3px;
	color: rgb(102, 102, 102);
}

.sub_left ul li a p {
	font-size: 15px;
}

.sub_left ul li:hover {
	font-weight: 500;
}

.sub_left .arrow_icon{
    color: #fff;
    font-size: 24px !important;
}

#sub .active{
	font-weight: 600;
    border-bottom: 2px solid #1b1b1b;
}

.active p,
.active .arrow_icon {
	color: #000;
	font-weight: 600;
    display: block;
}

.sub_right_title h2{
    font-weight: 300;
    font-size: 32px;
    color: #1b1b1b;
    letter-spacing: -0.5px;
}

#sub_con .flex{ 
    display: flex;
    justify-content: space-between;
}

.style02 {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    margin-top: 0;
    border-bottom: 2px solid #1d1d1d;
}
.style02 li {
    text-align: center;
    margin-bottom: -1px;
}

.style02 a.active {
    background-color: #1d1d1d;
    border: 1px solid #1d1d1d;
}

.style02 a {
    text-decoration: none;
    color: #888;
    font-weight: 400;
    padding: 15px 50px;
    font-size: 14px;
    display: block;
    border: 1px solid #ddd;
    border-bottom: 0px;
}
.style02 a.active{
    color: #fff;
} 
.style03{
    border-bottom: 1px solid #aaa;
}
.style03 li {
    padding: 15px 0;
    flex-basis: 100px;
    color: #1b1b1b;
}





.new_tab_wrap {
	margin: 0 auto;
    margin-top: 10px;
}

.nav-links,
.card {
    display: inline-block;
    vertical-align: top;
}

.main_list {
    width: 100%;
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}

.card {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 22px 0;
    position: relative;
}

.card-content {
    font-weight: 400;
    color: #555;
    width: 100%;
}
.card-content > *{
    flex-basis: 100px;
    text-align: center;
}
.card-content p.date {
    color: #666;
}
.basis-200{
	flex-basis: 600px;
}
.card-content .basis-200{
    text-align: left;
    padding-left: 20px;
}
.card-content:hover {
    background-color: #f5f5f5;
}


.pagination {
    margin-top: 7%;
    margin-bottom: 50px;
}

input[type="text"],
input[type="submit"] {
    padding: 7px;
}

.pagination b {
    background-color: #8CC84B;
    color: #fff;
    padding: 8px 12px;
    border-radius: 3px;
    margin: 0px 8px	;
}

.nav-links a:nth-child(2) {
    background-color: #8CC84B;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.textbox {
    position: relative;
    width: 100%;
    background-color: #f2f2f2;
	border-radius: 20px;
}

.textbox label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    transition: all 0.3s ease-out;
}

.textbox input {
    height: auto;
    line-height: normal;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
   outline: none;
   padding-left: 20px;
}

.textbox input:focus + label {
    opacity: 0;
}


.real-upload {
    display: none;
  }

  .upload {
    width: 75px;
    height: 75px;
    position: relative;
  }

  .image-preview {
    width: 75px;
    height: 75px;
    overflow: hidden;
    background-color: #1b1b1b;
    display: flex;
  }
  .image-preview img{
    width: 75px;
  }

  .ins_con{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin-bottom: 20px;
  }

  .ins_con:first-child{
    margin-bottom: 10px;
  }

  .ins_con span{
    font-size: 14px;
    line-height: 40px;
  }
  .ins_con p{
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  .ins_con input{
    width: 620px;
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #888;
  }
  .ins_con textarea{
    width: 620px;
    height: 300px;
    padding: 10px;
    border: 1px solid #888;
  }
  .ins_con textarea::placeholder{
    color: #888;
  }
  .ins_con .img_icon{
    position: absolute;
    top: 0;
    width: 75px;
    text-align: center;
    line-height: 75px;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
  }
  .ins_con .img_close{
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background-color: #1b1b1b;
    color: #fff;
  }
  .btn_wrap{
	width: 100%;
	display: flex;
	justify-content: center;
    gap: 6px;
	margin: 60px auto 30px;
}
.btn_wrap .button{
    width: 90px;
    height: 40px;
    line-height: 38px;
    border: 1px solid #999 !important;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    color: #1b1b1b;
    box-sizing: border-box;
    font-size: 13px;
    display: block;
}
.btn_wrap .button:hover{
	background-color: #1b1b1b;
	color: #fff;
	transition: 0.3s;
}


#sub .flex2{ 
  display: flex;
  gap: 5px;
  align-items: end;
}

.review_button2{
	padding: 4px 8px;
    border: 1px solid #aaa !important;
    border-radius: 3px;
    text-align: center;
    background-color: #fff;
    color: #888;
    box-sizing: border-box;
    font-size: 12px;
}
.review_button2:hover{
	background-color: #f2f2f2;
	color: #222;
	transition: 0.3s;
}
