@charset "UTF-8";

body {
    margin: 0;
}

.container {
    width: 1050px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: left;
}

h1 {
    color: #000;
    font-size: 33px;
    font-weight: 300;
    margin: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}
.main_list .flex2{
    display: flex;
    align-items: center;
}
.main_list .flex2 > *{
    font-size: 15px;
}
.title-search-container {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: inline-block;
    margin-right: 10px;
}

.search-form {
    display: flex;
    align-items: center;
}

.title-search-container input {
    border: 1px solid #ccc;
}

.title-search-container input[type="submit"] {
    margin-right: 0;
    margin-left: 10px;
    cursor: pointer;
    background-color: #fff;
}

.style02 {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    margin-top: 0;
}

.style02 li {
    flex-basis: 100px;
    text-align: center;
    padding: 15px 0;
    color: #1b1b1b;
    font-weight: 500;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #1b1b1b;
}
.style02 li.basis-200{
	flex-basis: 650px;
}
.style02 a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 0;
    display: block;
    border-left: 1px solid #ccc;
}

.style02 li:first-child a {
    border-left: none;
}


.style02 li.active {
    background-color: #3498db;
    color: #fff;
}

.new_tab_wrap {
	margin: 0 auto;
    margin-top: 10px;
    width: 100%;
}

.nav-links,
.card {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.main_list {
    width: 100%;
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}

.card {
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
}

.card-content {
    font-weight: 400;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}

.card-content p.date {
    color: #333;
    text-align: right;
}


.card-content p:not(:first-child) {
    margin-top: 10px;
}

.card:not(:first-child) {
    border-bottom: 1px solid #eee;
    text-align: left;
}

.card:last-child {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}

.card p {
    text-align: right;
}

.pagination {
    margin-top: 7%;
}


.pagination b {
    background-color: #8CC84B;
    color: #fff;
    padding: 8px 12px;
    border-radius: 3px;
    margin: 0px 8px	;
}

.nav-links a:nth-child(2) {
    background-color: #8CC84B;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.textbox {
    position: relative;
    width: 100%;
    margin-left: 10px;
    border-bottom: 1px solid #888;
}

.textbox label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    transition: all 0.3s ease-out;
}

.textbox .inputtext{
    width: 100%;
    height: auto;
    line-height: normal;
    padding: .7em .8em .7em .4em;
    border: 0;
    border-radius: 0;
    outline-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border-radius: 0px;
   outline: none;
   background-color: #fff;
}

.textbox input:focus + label {
    opacity: 0;
}



.search {
   display: flex;
   justify-content: space-between;
}

.search .searchicon {
   background: none;
}

.search select {
   width: 50px;
   height: 28px;
   padding: .8em .5em;
   border: 1px solid #999;
   font-family: inherit;
   font-size: 10px;
   background: url('/images/expand.png') no-repeat 95% 50%;
   background-size: 10px;
   border-radius: 0px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.search select option {
   width: 50px;
   height: 28px;
   padding: .8em .5em;
   border: 1px solid #999;
   font-family: inherit;
   font-size: 10px;
}

.search .search_text {
   width: 150px;
   height: 11px;
   padding: .8em .5em;
   border: 1px solid #999;
   font-family: inherit;
   font-size: 10px;
   background-size: 10px;
   border-radius: 0px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
.ttitle{
	display: flex;
	justify-content: space-evenly;
    cursor: pointer;
	    
}
.ttitle span{
	flex-basis:100px;
	text-align: center;
	height: 60px;
	line-height: 60px;
	font-size: 14px;
	color: #444;

}
.ttitle span.basis-200{
	flex-basis:650px;
	text-align: left;

}
.card-content2{
    background-color: #fbfbfb;
}
.card-content2 label > *{
    font-weight: 500;
    color: #000;
}
.card-content2 .notice_title{
    background-color: #f2f2f2;
    padding: 4px 10px;
    color: #666;
    font-weight: 500;
    border-radius: 5px;

}
.ttitle .comment_count{
    display: flex;
    flex-basis: 12px;
    height: 18px;
    line-height: 18px;
    align-items: center;

}
.ttitle .comment_icon{
    font-size: 13px;
    font-weight: 700;
    color: #8cc84c;
}
.btn_wrap{
	width: 100%;
	display: flex;
	justify-content: end;
	margin: 15px auto 20px;
}
.button{
    width: 80px;
    height: 40px;
    line-height: 38px;
    border: 1px solid #999 !important;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    color: #1b1b1b;
    box-sizing: border-box;
    font-size: 13px;
    display: block;
}
.button:hover{
	background-color: #1b1b1b;
	color: #fff;
	transition: 0.3s;
}

.review_button2{
	padding: 5px 8px;
    border: 1px solid #aaa !important;
    border-radius: 3px;
    text-align: center;
    background-color: #fff;
    color: #888;
    box-sizing: border-box;
    font-size: 12px;
}
.review_button2:hover{
	background-color: #f2f2f2;
	color: #222;
	transition: 0.3s;
}

#sub .line{
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #222;
}
#sub .flex {
	display: flex;
	justify-content: space-between;
}

#sub .sub_left {
	width: 200px;
}

#sub .sub_right {
	width: 800px;
}

#sub .line {
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: 2px solid #222;
}

#sub .li_line {
	border-bottom: 1px solid #222;
	padding-bottom: 20px;
	margin-bottom: 20px;
	align-items: center;
}

#sub .flex3 .material-symbols-outlined{
    font-size: 16px;
    font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 16
}


/* sub_left */
.sub_left .sub_left_title {
	height: 75px;
	padding: 5px 0px 0px 0px;
	font-weight: 500;
	font-size: 28px;
	line-height: 35px;
	color: rgb(51, 51, 51);
	letter-spacing: -1px;
}
.sub_left ul li{
    border-bottom: 1px solid #f2f2f2;
}

.sub_left ul li a {
	cursor: pointer;
	padding: 13px 0px 13px 0px;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	line-height: 19px;
	letter-spacing: -0.3px;
	color: rgb(102, 102, 102);
}

.sub_left ul li a p {
	font-size: 15px;
}

.sub_left ul li:hover {
	font-weight: 500;
}

.sub_left .arrow_icon{
    color: #fff;
    font-size: 24px !important;
}

#sub .active{
	font-weight: 600;
    border-bottom: 2px solid #1b1b1b;
}

.active p,
.active .arrow_icon {
	color: #000;
	font-weight: 600;
    display: block;
}

.sub_right_title h2{
    font-weight: 400;
    font-size: 26px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.5px;
}

#sub_con .flex{ 
    display: flex;
    justify-content: space-between;
}